src/main/mule/subflows/decode-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="decode-tokenFlow" doc:id="95fdb770-5aea-487d-9109-cc1e2a25677d" >
<!-- [STUDIO:"Scheduler"]		<scheduler doc:name="Scheduler" doc:id="b3259bc6-48e1-45ad-b761-c5fa1daa19a0" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler> [STUDIO] -->
		<set-payload value='#[output application/json&#10;---&#10;"ewogICJpZCI6ICJ0ZXNkdF9pZCIsCiAgImVtYWlsIjogInRlc3RfZW1haWwiLAogICJzZWNyZXQiOiAidGVzdF9zZWNyZXQiLAogICJhY3Rpb24iOiAibG9naW4iCn0="]' doc:name="Set Payload" doc:id="358f301e-1579-4cc8-8b95-232e9c641ccc" />
		<flow-ref doc:name="Flow Reference" doc:id="40871fe4-1d01-4f24-a709-1fc2158d4877" name="decode-token-Sub-Flow"/>
	</flow>
	<sub-flow name="decode-token-Sub-Flow" doc:id="1e641dcf-8612-4532-9721-d2b33a8f8d7f">
		<logger level="INFO" doc:name="start decoding token" doc:id="2347f566-53a0-438f-bf20-01f70cdf4f88" message="start decoding token" />
		<try doc:name="Try to decode the token" doc:id="9303f8b1-0930-4d29-b9d7-5d5fa0a4e892">
			<logger level="INFO" doc:name="decoding the data" doc:id="654fe6fb-1333-4b31-be39-7a058fc56473" message="Decoding the payload for user: #[vars.decoded_payload.id]" />
			<ee:transform doc:name="decode data" doc:id="aea5efe5-8ece-4244-aa41-305b7a316fd6">
			<ee:message>
			</ee:message>
			<ee:variables>
					<ee:set-variable variableName="decoded_payload"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/json  
---
read((fromBase64(payload as String)),"application/json") default "unauthorized"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<set-variable value="#[vars.decoded_payload.action]" doc:name="Set Payload Action Variable" doc:id="90e5eb57-b233-466a-ba37-d20223d07a35" variableName="token_action" />
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="37d5fa3e-df54-4059-b658-d96fe19b4ce4">
					<raise-error doc:name=" unauthorized token error" doc:id="68852a46-e6d1-44c9-aef4-93ca18669413" type="personal:CLIENT_SECURITY" description="un authorized token, please do not do any changes on your recieved URL." />
				</on-error-propagate>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="fab572a8-e4a0-4033-8e80-c2fbd2a30c84" >
			<when expression='#[vars.decoded_payload.action == "login"]'>
				<flow-ref doc:name="Flow Reference to short term token" doc:id="4766f8f5-0403-4479-8a88-e2981f4cfafd" name="short-term-token-sub-flow" />
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference to long term token" doc:id="e045f211-9608-4d73-9a6f-d85f6d938238" name="long-term-token-Sub-Flow" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="end decoding token" doc:id="858e5028-1041-4e65-850c-75d16e567f81" message="end decoded data for user " />
	</sub-flow>
	
</mule>
