.tooling-project/cached/roh-users-sapi/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Health" doc:id="1466481d-2d55-45d1-b0a6-3c25a7ecd999" >
		<ee:transform doc:name="Transform Message" doc:id="5cea0ec7-efce-4406-b496-20bc033e18e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"timestamp": (now() >> "America/New_York" ) as String {format: "yyyy-MM-dd hh:m:s"},
	"dependencies": [],
    "status": "OK" ,
    "apiName": p('api.appName'),
    "apiVersion": p('api.appVersion')
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#[if (payload.status == "OK") "200" else "500"]' doc:name="Set Variable" doc:id="1c53dda3-18cf-4e5a-bf28-43f5bf21de12" variableName="httpStatusCode"/>
	</flow>
</mule>